.my-uniqa-submenu ul {
    margin: 0 15px 20px;
    padding: 0;
    border-bottom: 3px solid #e1e1e1;
    font-size: 0
}

.my-uniqa-submenu ul li {
    padding: 0;
    margin: 0 0 -3px;
    display: inline-block;
    list-style: none;
    z-index: 0;
    border-right: 4px solid #fff
}

.my-uniqa-submenu ul a {
    font-style: normal;
    font-size: 14px;
    color: #808080;
    display: block;
    line-height: 30px;
    padding: 5px 15px;
    text-decoration: none;
    text-transform: capitalize;
    border-bottom: 3px solid #e1e1e1;
    position: relative
}

.my-uniqa-submenu ul a.current, .my-uniqa-submenu ul a.current:hover {
    color: #000
}

.my-uniqa-submenu ul a:hover, .my-uniqa-submenu ul a.current, .my-uniqa-submenu ul a.current:hover {
    color: #000;
    border-bottom: 3px solid #005eab
}

.counter {
    position: absolute;
    top: -4px;
    right: 0;
    color: #fff;
    padding: 0 6px;
    font-size: 9px;
    line-height: 12px;
}

.notification-counter.green {
    background-color: #04b675;
}

.counter.green {
    background-color: #04b675;
    right: 20px;
}
.counter.blue, .notification-counter.blue {
    background-color: #005eab;
}

@media screen and (max-width: 680px) {
    .my-uniqa-submenu ul {
        margin-top: -15px;
    }

    .my-uniqa-submenu ul li {
        padding-top: 15px;
    }

    .my-uniqa-submenu ul a {
        padding: 7px 5px;
        font-size: 12px;
        line-height: 26px;
    }
}
