<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Страхова компанія УНІКА - Страхування в Україні | УНІКА</title>
    <link rel="stylesheet" href="./css/uniqa.min.css">
    {% include "components/scripts-header.njk" %}
</head>
<body>
    {% set params = {
        'currentPage': 'index'
    } %}

    {% include "components/header.njk" %}

    <div class="container expanded">
        <ul class="breadcrums">
            <li>Головна</li>
        </ul>
        <div class="my-uniqa-title">
            <h1><img src="images/user-avatar.jpg" class="user-avatar"> Welcome, Maximilian Musterman</h1>
        </div>
        {% include "components/menu.njk" %}

        <div class="flx-row">
            <div class="columns small-12 medium-12 large-9">
                <div class="flx-row row-collapse">
                    <div class="columns small-12 medium-6 large-4 widget-blue-box is--small">
                        <div class="widget-wrapper">
                        <div class="widget-blue-box__header">Купити online</div>
                        <div data-suggestion-deck>
                              <a  href="https://uniqa.ua/ua/private/travel/puteshestvie-za-granitsu/"
                                  class="widget-blue-box__lst-item">
                                <div class="widget-blue-box__icon-deck arrow-icon">
                                  <span class="arrow-icon">&#x276F;</span>
                                </div>
                                <div class="widget-blue-box__label">Туристичне страхування</div>
                              </a>
                              <a  href="https://uniqa.ua/ua/private/auto/kasko/pokupka_kasko/"
                                  class="widget-blue-box__lst-item">
                                <div class="widget-blue-box__icon-deck arrow-icon">
                                  <span class="arrow-icon">&#x276F;</span>
                                </div>
                                <div class="widget-blue-box__label">Калькулятор КАСКО</div>
                              </a>
                              <a href="https://uniqa.ua/ua/private/auto/avtograzhdanka/pokupka_avtocyvilka_osago/?type=osago" class="widget-blue-box__lst-item">
                                    <div class="widget-blue-box__icon-deck arrow-icon">
                                      <span class="arrow-icon">&#x276F;</span>
                                    </div>
                                    <div class="widget-blue-box__label">Автоцивілка (ОСАГО)</div>
                                </a>
                                <a href="https://uniqa.ua/ua/private/auto/avtograzhdanka/pokupka_avtocyvilka_dgo/?type=dgo" class="widget-blue-box__lst-item">
                                <div class="widget-blue-box__icon-deck arrow-icon">
                                  <span class="arrow-icon">&#x276F;</span>
                                </div>
                                <div class="widget-blue-box__label">Добровільна автоцивілка</div>
                              </a>
                              <a href="https://uniqa.ua/ua/buy/oferta-i-aktsept/" class="widget-blue-box__lst-item">
                                    <div class="widget-blue-box__icon-deck arrow-icon">
                                      <span class="arrow-icon">&#x276F;</span>
                                    </div>
                                    <div class="widget-blue-box__label">Оферта та акцепт</div>
                                </a>
                          </div>
                          </div>
                    </div>
                    <div class="columns small-12 medium-6 large-4 widget-blue-box is--small">
                        <div class="widget-wrapper">
                            <div class="widget-blue-box__header">Додаткові переваги від Уніка</div>
                            <div data-suggestion-deck>
                                <div class="widget-blue-box__lst-item">
                                  <div class="widget-blue-box__icon-deck arrow-icon">
                                    <span class="arrow-icon">&#x276F;</span>
                                  </div>
                                  <div class="widget-blue-box__label">Консьерж сервіс</div>
                                </div>
                                <div class="widget-blue-box__lst-item">
                                  <div class="widget-blue-box__icon-deck arrow-icon">
                                    <span class="arrow-icon">&#x276F;</span>
                                  </div>
                                  <div class="widget-blue-box__label">Технічний асістанс</div>
                                </div>
                                <div class="widget-blue-box__lst-item">
                                  <div class="widget-blue-box__icon-deck arrow-icon">
                                    <span class="arrow-icon">&#x276F;</span>
                                  </div>
                                  <div class="widget-blue-box__label">Экспрес-врегульовання</div>
                                </div>
                            </div>
                          </div>
                    </div>
                    <div class="columns small-12 medium-12 large-4 widget-box identify">
                      <div class="widget-wrapper">
                          <div class="identify__title">Ідентифікувати себе як клієнта УНІКА</div>
                          <div class="u-fields">
                              <input placeholder="Номер мобiльного телефону" type="tel" class="u-input phone-mask" name="user-tel" id="user-tel">
                          </div>
                          <div class="u-fields">
                              <input placeholder="Iдентифiкацiйний код" type="tel" class="u-input" name="user-tel" id="user-tel">
                          </div>
                          <div class="u-fields">
                              <a href="my-index.html" class="u-btn trans">Почати</a>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="flx-row row-collapse">
                    <div class="columns small-12 medium-6 large-4 widget-box docs is--mutted">
                      <a href="my-claims.html" class="widget-box__title">Договори</a>
                    </div>
                    <div class="columns small-12 medium-6 large-4 widget-box ins is--mutted">
                      <a href="my-insurances.html" class="widget-box__title">Страховi випадки</a>
                    </div>
                    <div class="columns small-12 medium-12 large-4 marketing-add pay-online">
                      <div class="marketing-add__content">
                          <div class="marketing-add__content-close">&times;</div>
                          <div class="marketing-add__title">Клієнтам Online</div>
                          <div class="marketing-add__text">Online сервіси від УНІКА - купуй договір туристичного страхування</div>
                          <div class="marketing-add__action">
                            <a href="#" class="u-btn secondary">Нагадати потім</a>
                            <a href="https://uniqa.ua/ua/buy/" class="u-btn primary">Детальніше</a>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="columns small-12 medium-12 large-3">
                <div class="flx-row row-collapse">
                    <div class="column small-12 medium-4 large-12 widget-blue-box">
                      <div class="widget-wrapper">
                          <div class="widget-blue-box__header">
                              Повідомлення
                              <div class="widget-blue-box__counters">
                                  <span class="mm-counter-inbox">1</span>
                                  <span class="mm-counter-outbox">2</span>
                              </div>
                          </div>
                          <div class="widget-blue-box__message">специфльні пропозіції для vip кліентів.</div>
                        </div>
                    </div>
                    {% include "components/agent-index.njk" %}
                    <div class="column small-12 medium-4 large-12 widget-blue-box">
                      <div class="widget-wrapper">
                          <div class="widget-blue-box__header">Платежi онлайн</div>
                          <div class="u-fields">
                              <select name="" id="" class="u-select">
                                  <option value="">Portmone</option>
                                  <option value="">Privat24</option>
                              </select>
                          </div>
                          <div class="lg-text-align-right">
                              <a href="my-payment.html" class="u-btn primary">Перейти</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>

         <div class="flx-row">
             <div class="columns small-12 marketing-add pay-online is--big">
               <div class="marketing-add__content">
                   <div class="marketing-add__title">Клієнтам Online</div>
                   <div class="marketing-add__text">Online сервіси від УНІКА - купуй договір туристичного страхування, поліс Автоцивілки або розрахуй орієнтовну вартість КАСКО для легкового автомобіля. Ми стаємо ще ближче до наших клієнтів!</div>
                   <div class="marketing-add__action">
                     <a href="https://uniqa.ua/ua/buy/" class="u-btn primary">Детальніше</a>
                   </div>
               </div>
           </div>
         </div>

    </div>

    {% include "components/footer.njk" %}
    {% include "components/scripts-footer.njk" %}
</body>
</html>
