<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Страхова компанія УНІКА - Страхування в Україні | УНІКА</title>
    <link rel="stylesheet" href="./css/uniqa.min.css">
    {% include "components/scripts-header.njk" %}
</head>
<body>
{% set params = {
'currentPage': 'index'
} %}

{% include "components/header.njk" %}

<div class="container">
    <div class="login-deck">
      <div class="login-deck__modal">
          <form action="" name="user-registration">
                <div class="u-fields flx-row row-collapse">
                  <div class="column small-12">
                  <h1 class="success-color">Поздровляем!<br>Вы зарегистрированы в личном кабинете UNIQA!</h1>
                </div>
              </div>
              <div class="u-fields flx-row">
                  <p>Для завершения регистрации Вам необходимо проверить почту по электронному адресу, который был указан при регистрации,
                  и завершить по регистрацию перейти по ссылке из отправленного письма</p>
              </div>
              <div class="column small-8 text-align-right">
                    <a href="index.html" class="u-btn primary is--large">Вхiд</a>
                </div>
              </div>
          </form>
      </div>
    </div>
</div>

{% include "components/scripts-footer.njk" %}
</body>
</html>
