<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Страхова компанія УНІКА - Страхування в Україні | УНІКА</title>
    <link rel="stylesheet" href="./css/uniqa.min.css">
    {% include "components/scripts-header.njk" %}

</head>
<body>
    {% set params = {
        'currentPage': 'personal'
    } %}
    {% include "components/header.njk" %}

    <div class="container">
        <ul class="breadcrums">
            <li><a class="normal" href="index.html">Головна</a></li>
            <li>»</li>
            <li>Персональнi даннi</li>
        </ul>
        <div class="my-uniqa-title">
            <h1>Налаштування</h1>
        </div>
        {% include "components/menu.njk" %}
        <div class="flx-row">
            <div class="column small-12 medium-8 large-9">
                <p class="section-descr">Зміна пароля та налаштування розсилання.</p>

                <form class="validate-form" action="" name="personal-data">
                  <div class="u-fields__separator"><span>Зміна пароля</span></div>
                  <div class="u-fields flx-row">
                      <label for="old-pass" class="column small-10 medium-3 u-label xs-text-align-right">Старий пароль</label>
                      <div class="column small-10 medium-7 large-6">
                          <input type="password" class="u-input" name="old-pass" id="old-pass" required>
                      </div>
                      <div class="column shrink u-field-state"><em class="icon icon-state-def"></em></div>
                  </div>
                  <div class="u-fields flx-row">
                      <label for="new-pass" class="column small-10 medium-3 u-label xs-text-align-right">Новий пароль</label>
                      <div class="column small-10 medium-7 large-6">
                          <input type="password" class="u-input" name="new-pass" id="new-pass" required>
                      </div>
                      <div class="column shrink u-field-state"><em class="icon icon-state-def"></em></div>
                  </div>
                  <div class="u-fields flx-row">
                      <label for="new-pass-confirm" class="column small-10 medium-3 u-label xs-text-align-right">Підтвердження паролю</label>
                      <div class="column small-10 medium-7 large-6">
                          <input type="password" class="u-input" name="new-pass-confirm" id="new-pass-confirm" required>
                      </div>
                      <div class="column shrink u-field-state"><em class="icon icon-state-def"></em></div>
                  </div>
                  <div class="u-fields__separator"><span>Отримувати розсилання</span></div>
                  <div class="u-fields flx-row">
                      <label class="column small-10 medium-3"></label>
                      <div class="column small-10 medium-7">
                          <input type="checkbox" id="user-agree" name="user-agree" class="chb-custom">
                          <label class="chb-label" for="user-agree">Отримувати розсилання від myUniqa на E-mailю</label>
                      </div>
                  </div>
                  <div class="u-submit-row">
                    <div class="flx-row">
                        <div class="columns small-12 medium-8 ask-questions">
                          <a href="my-personal-details.html" class="u-btn secondary">Назад</a>
                        </div>
                        <div class="columns small-12 medium-4">
                            <button type="submit" class="u-btn primary">Зберегти</button>
                        </div>
                    </div>
                  </div>
                </form>
            </div>
            <div class="column small-12 medium-4 large-3">
                {% include "components/agent.njk" %}
            </div>
        </div>
    </div>

    {% include "components/footer.njk" %}
    {% include "components/scripts-footer.njk" %}
</body>
</html>
