<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Страхова компанія УНІКА - Страхування в Україні | УНІКА</title>
    <link rel="stylesheet" href="./css/uniqa.min.css">
    {% include "components/scripts-header.njk" %}
</head>
<body>
{% set params = {
  'currentPage': 'start'
} %}

{% include "components/header.njk" %}

<div class="container" style="margin: -25px 0; z-index: -1; background: transparent;">
    <img src="images/uniqa-start.jpg" alt="start page">
</div>

{% include "components/footer.njk" %}
{% include "components/scripts-footer.njk" %}
</body>
</html>
