.u-fields {
    margin-bottom: 20px;
}

.u-fields__separator {
    text-align: center;
    color: #808080;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 20px;

    span {
        display: inline-block;
        padding: 0 6px;
        background-color: #fff;
        position: relative;
    }

    &:before {
      position: absolute;
      content: '';
      height: 1px;
      background-color: currentColor;
      width: 100%;
      top: 10px;
      left: 0;
    }
}

.u-label {
    line-height: 32px;
    position: relative;

    & em {
      color: #ec1717;
      font-size: 18px;
      line-height: 2px;
    }

    &-line {
         float: none;
         text-align: left;
        line-height: 14px;
        margin-bottom: 10px;
        height: auto;
     }

}

.u-field-state {
    position: relative;
    margin-top: 7px;

    [class *='icon-'] {
        position: absolute;
    }
}

.u-select {
    width: 100%;
    height: 34px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    color: #282B34;
    box-sizing: border-box;
    outline: none;

    &[disabled] {
        opacity: .5;
        cursor: default;
        background: #eee;
    }
}

.u-input {
    width: 100%;
    height: 34px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    color: #282B34;
    box-sizing: border-box;
    padding: 0 10px;

    &[disabled] {
        opacity: .5;
        cursor: default;
        background: #eee;
     }

    &:focus {
        border: 1px solid #7fadd4;
        box-shadow: 0 0 5px rgba(127, 173, 212, 0.5);
    }

    &.error,
    &.error:focus {
        outline: none;
        border: 1px solid #be001e;
    }
}

/*Validation*/
.u-error .u-input,
.u-error .u-input:focus {
  outline: none;
  border: 1px solid #be001e;
}

.u-input + .error,
.u-fields label.error,
.u-fields span.error {
  display: block;
  margin-top: 4px;
  color: #be001e;
  height: auto;
}

.u-btn,
a.u-btn,
button.u-btn {
    display: inline-block;
    box-sizing: border-box;
    color: #fff;
    line-height: 34px;
    padding: 0 15px;
    outline: none;
    border: none;
    text-decoration: none;
    font-style: normal;
    font-family: Lato, sans-serif;

    &[disabled] {
      opacity: .5;
      cursor: default;
    }

    &.primary {
        background: #00ba6f;
        color: #fff;
        font-style: normal;

        &:hover {
             background: #03a765;
         }
    }

    &.secondary {
         background: #878a89;
         color: #fff;
         font-style: normal;

         &:hover {
            background: #767877;
          }
    }

    &.small-link {
      font-size: .9rem;
      padding: 0 5px;
      font-style: normal;
    }

    &.delete {
      color: #fff;
      background: #f94848;

      &:hover {
        background: #dc3e3e;
      }
    }

   &.big,
   &.is--big {
      line-height: 40px;
      padding: 0 20px;
      font-size: 1.2rem;
    }

    &.is--large {
       line-height: 52px;
       padding: 0 30px;
       font-size: 1.5rem;
     }

    &.small {
     font-size: .9rem;
     padding: 0 10px;
     line-height: 24px;
    }
}

.btns-list .u-btn {
  border-radius: 0;
}

.u-submit-row {
    background: #f4f4f4;
    padding: 15px;
    text-align: right;
    margin: 40px 0;
    align-self: center;

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    &.is--stickable {
      margin-top: 30px;
    }

    & .ask-questions {
        text-align: left;
        line-height: 32px;

        & .u-btn {
          margin-right: 10px;
        }
    }

  .back-btn {
    float: left;
  }
}

input[type=checkbox].chb-custom {
    position: absolute;
    left: -9999px;

    & + .chb-label {
            height: 20px;
            display: inline-block;
            line-height: 22px;
            cursor: pointer;
            position: relative;
            padding-left: 30px;
            transition: content 1s;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            border: 1px solid #ccc;
            border-radius: 3px;
            background: #fff;
            width: 18px;
            height: 18px;
            text-align: center;
            line-height: 20px;
            font-size: 12px;
            font-weight: bold;
        }

    }

    &:checked + .chb-label {
      &:before {
         border-color: #757584;
         background: #eee;
         content: '\2714';
      }
    }

    &:focus + .chb-label {
      &:before {
        border: 1px solid #7fadd4;
      }
    }
}

input[type="radio"].u-radio {
    position: absolute;
    left: -9999px;

    & + label {
            display:inline-block;
            cursor:pointer;
            position: relative;
            padding-left: 30px;
            line-height: 34px;
            transition: content 1s;
            margin-right: 20px;

    &:before {
         content: '';
         position: absolute;
         left: 0;
         top: 6px;
         border: 1px solid #ccc;
         background: #fff;
         border-radius: 100%;
         width: 16px;
         height: 16px;
         text-align: center;
         line-height: 20px;
     }

    }

    &:checked + label {
    &:after {
         content: '';
         position: absolute;
         background: #000;
         border-radius: 100%;
         width: 10px;
         height: 10px;
         line-height: 10px;
         top: 12px;
         left: 4px;
     }
    }
}

.u-list__line input[type=radio].u-radio+label {
  margin-right: 0;
  padding-left: 24px;
  display: block;
  text-align: left;
  white-space: nowrap;
}

.u-textarea {
    @extend .u-input;
    text-align: left;
    min-height: 100px;
    line-height: 1.4rem;
    padding-top: 10px;
    resize: none;
}

.has-hint {
  position: relative;
}

.u-fields-hint {
  width: 90%;
  box-sizing: border-box;
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  color: #666;
  bottom: 60px;
  border-radius: 4px;
  display: none;
  left: 50%;
  transform: translate(-50%, 0);
  transition: display 200ms ease-out;

  &:after,
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color: #ccc transparent transparent transparent;
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -15px;
  }

  &:after {
    margin-left: -14px;
    bottom: -14px;
    border-width: 14px 14px 0 14px;
    border-color: #fff transparent transparent transparent;
  }

  & ul {
    margin: 0;
    padding: 0 0 0 20px;
  }
}

.has-hint .u-input:focus + .u-fields-hint {
  display: block;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    line-height: 26px;
    height:44px;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


.inputfile-6 + label {
    color: #333;
}

.inputfile-6 + label {
    border: 1px solid #e1e1e1;
    background-color: #fff;
    padding: 0;
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    border-color: #9a9a9a;
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile-6 + label span {
    width: 200px;
    min-height: 2em;
    line-height: 28px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    text-align: left;
}

.inputfile-6 + label strong {
    height: 100%;
    color: #fff;
    background-color: #00ba6f;
    display: inline-block;
}

.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
    background-color: #03a765;
}


/* style for image upload */

.inputfile-5 + label {
    color: #d3394c;
    padding: 0;
    height: 100px;
    width: 80px;
    max-width: 100%;
}

.inputfile-5:focus + label,
.inputfile-5.has-focus + label,
.inputfile-5 + label:hover {
    color: #722040;
}

.inputfile-5 + label figure {
    width: 80px;
    height: 100px;
    background-color: #999;
    display: block;
    position: relative;
    text-align: center;
    padding-top: 30px;
    margin: 0 auto 10px;
    box-sizing: border-box;
}

.inputfile-5:focus + label figure,
.inputfile-5.has-focus + label figure,
.inputfile-5 + label:hover figure {
    background-color: #7fadd4;
}

.inputfile-5 + label figure::before,
.inputfile-5 + label figure::after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
}

.inputfile-5 + label figure::before {
    border-top: 20px solid #eee;
    border-left: 20px solid transparent;
}

.inputfile-5 + label figure::after {
    border-bottom: 20px solid #666;
    border-right: 20px solid transparent;
}

.inputfile-5:focus + label figure::after,
.inputfile-5.has-focus + label figure::after,
.inputfile-5 + label:hover figure::after {
    border-bottom-color: #cadcea;
}

.inputfile-5 + label svg {
    width: 50%;
    height: 50%;
    fill: #fff;
}

.image-upload-deck {
  position: relative;
  text-align: center;

  &__text {
    text-align: center;
    color: #666;
    width: 80px;
    display: block;
    padding-top: 4px;
  }

  & .image-upload {
    display: inline-block;
    position: absolute;
    right: -10px;
  }
}

.space-between {
  padding: 0 10px;
}

.label-tooltip {
  background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABfklEQVQ4jX2TzUodQRCFv9MOoghBCIjgDwm4cenCZRa+jOIDuHPjW9ynSPICeQEJ2V5X7i4hWV5QMMQ5Lnq6b007WjB0T3fVqdOnqnT+bW4Gs40kbJMAS7RmZ3eFO9sk26PLsp8C0JCoNUl0AAnoA4Ak3DAE6DNiBYsEOkn0E5lsc3m6x8n+B34tlsxuF698ImDnJkNaeXG8uwXA8c7WuxqVVxF1spQ/m7s/jwDM/z6MAuJzVdaLr3M7gLt5pgRR/7YYxbfz6yIAcPXloO6Xj8/Mfi5q4FR7dDE4Vuno40qXf9s9kpBdq9sDkUOKQMUZ4ObH/aglavBEdUcNGcWWxO/lE/97jwIKiAafzKSsgZZs5Ly+NR41YU0cGrJ0a+jtQdDpcZANg5ZR/Mom2vXZZ7q1DLS+lrg++7Rq3ABSrCsXrR1ubzT/m/VJKVOrYHVo60EQ/OL73eg8smgHOkGuWhVSyhMeNQnCx16Je0ukImgsp0v1hrkriWqgXRMWVi/GnAJlvJDZTQAAAABJRU5ErkJggg==');
  width: 18px;
  height: 18px;
  display: inline-block;
  margin: 0 0 -4px 5px;
  line-height: 0;
  vertical-align: baseline;
  cursor: pointer;
  position: relative;

  &:hover:after,
  &:active:after {
    background: #fff;
    border: 1px solid currentColor;
    border-radius: 2px;
    font-size: 12px;
    line-height: 22px;
    bottom: 30px;
    color: #65aed6;
    content: attr(title);
    left: -30px;
    min-width: 240px;
    padding: 3px 10px;
    text-align: center;
    position: absolute;
    z-index: 98;
  }

  &:hover i,
  &:active i {
    display: block;
    content: '';
    position: absolute;
    top: -13px;
    left: 0;
    width: 0;
    height: 0;
    z-index: 99;
    border-style: solid;
    border-width: 9px 9px 0 9px;
    border-color: #65aed6 transparent transparent transparent;

    &:after {
      display: block;
      content: '';
      position: absolute;
      top: -9px;
      left: -8px;
      width: 0;
      height: 0;
      z-index: 100;
      border-style: solid;
      border-width: 8px 8px 0 8px;
      border-color: #fff transparent transparent transparent;
    }

  }

}

@media screen and (max-width: 50em) {
    .inputfile-6 + label strong {
        display: block;
    }
}


/*Fix old design isses*/
@media only screen and (max-width: 1024px) and (min-width: 320px) {
    .u-btn {
        position: static;
        right: 0;
        margin: 0;
    }
}

@media screen and (max-width: 800px) {
  .image-upload-deck {
    order: -1;
    margin-bottom: 15px;
  }

  .image-upload-deck .image-upload {
    position: relative;
    right: 0;
  }

}

.btn-dropdown-container {
  position: relative;
  display: inline-block;

  &.is-open .btn-dropdown,
  &.is-open .btn-dropdown-overlay {
    display: block;
  }

  &.to-top .btn-dropdown {
    top: auto;
    bottom: 40px;
  }
}

.btn-dropdown  {
  position: absolute;
  background: #fff;
  padding: 15px 15px 10px 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
  text-align: left;
  width: 200px;
  top: 40px;
  right: 0;
  display: none;
  z-index: 100;

  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  & li {
    padding: 0;
    margin: 0;
  }

  & a.arrow {
    color: #005ca9;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
  }

  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .btn-dropdown {
    width: 260px;
    right: -70px;
  }
}
