.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 25px 10px;
    background: #fff;
    box-sizing: border-box;
}

.flx-row {
    box-sizing: border-box;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }

.flx-row .flx-row {
    margin-left: -0.625rem;
    margin-right: -0.625rem; }

@media screen and (min-width: 40em) {
    .flx-row .flx-row {
        margin-left: -0.9375rem;
        margin-right: -0.9375rem; } }

.flx-row.expanded {
    max-width: none; }

.flx-row.collapse > .column,
.flx-row.collapse > .columns,
.row-collapse > .column,
.row-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }

.column, .columns {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    box-sizing: border-box;
}
@media screen and (min-width: 40em) {
    .column, .columns {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem; }

    .column.xs-text-align-right {
        text-align: right;
    }
}

.column.flx-row.flx-row, .flx-row.flx-row.columns {
    float: none; }

.flx-row .column.flx-row.flx-row, .flx-row .flx-row.flx-row.columns {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0; }

.small-1 {
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }

.small-offset-0 {
    margin-left: 0%; }

.small-2 {
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

.small-offset-1 {
    margin-left: 8.33333%; }

.small-3 {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }

.small-offset-2 {
    margin-left: 16.66667%; }

.small-4 {
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

.small-offset-3 {
    margin-left: 25%; }

.small-5 {
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

.small-offset-4 {
    margin-left: 33.33333%; }

.small-6 {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

.small-offset-5 {
    margin-left: 41.66667%; }

.small-7 {
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

.small-offset-6 {
    margin-left: 50%; }

.small-8 {
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

.small-offset-7 {
    margin-left: 58.33333%; }

.small-9 {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }

.small-offset-8 {
    margin-left: 66.66667%; }

.small-10 {
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

.small-offset-9 {
    margin-left: 75%; }

.small-11 {
    -webkit-flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

.small-offset-10 {
    margin-left: 83.33333%; }

.small-12 {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

.small-offset-11 {
    margin-left: 91.66667%; }

.small-order-1 {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; }

.small-order-2 {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2; }

.small-order-3 {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3; }

.small-order-4 {
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4; }

.small-order-5 {
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5; }

.small-order-6 {
    -webkit-order: 6;
    -ms-flex-order: 6;
    order: 6; }

.small-collapse > .column, .small-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }

.small-uncollapse > .column, .small-uncollapse > .columns {
    padding-left: 0.625rem;
    padding-right: 0.625rem; }

@media screen and (min-width: 40em) {
    .medium-1 {
        -webkit-flex: 0 0 8.33333%;
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
        max-width: 8.33333%; }
    .medium-offset-0 {
        margin-left: 0%; }
    .medium-2 {
        -webkit-flex: 0 0 16.66667%;
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
        max-width: 16.66667%; }
    .medium-offset-1 {
        margin-left: 8.33333%; }
    .medium-3 {
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%; }
    .medium-offset-2 {
        margin-left: 16.66667%; }
    .medium-4 {
        -webkit-flex: 0 0 33.33333%;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%; }
    .medium-offset-3 {
        margin-left: 25%; }
    .medium-5 {
        -webkit-flex: 0 0 41.66667%;
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width: 41.66667%; }
    .medium-offset-4 {
        margin-left: 33.33333%; }
    .medium-6 {
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%; }
    .medium-offset-5 {
        margin-left: 41.66667%; }
    .medium-7 {
        -webkit-flex: 0 0 58.33333%;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width: 58.33333%; }
    .medium-offset-6 {
        margin-left: 50%; }
    .medium-8 {
        -webkit-flex: 0 0 66.66667%;
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%; }
    .medium-offset-7 {
        margin-left: 58.33333%; }
    .medium-9 {
        -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%; }
    .medium-offset-8 {
        margin-left: 66.66667%; }
    .medium-10 {
        -webkit-flex: 0 0 83.33333%;
        -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
        max-width: 83.33333%; }
    .medium-offset-9 {
        margin-left: 75%; }
    .medium-11 {
        -webkit-flex: 0 0 91.66667%;
        -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
        max-width: 91.66667%; }
    .medium-offset-10 {
        margin-left: 83.33333%; }
    .medium-12 {
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%; }
    .medium-offset-11 {
        margin-left: 91.66667%; }
    .medium-order-1 {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1; }
    .medium-order-2 {
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2; }
    .medium-order-3 {
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3; }
    .medium-order-4 {
        -webkit-order: 4;
        -ms-flex-order: 4;
        order: 4; }
    .medium-order-5 {
        -webkit-order: 5;
        -ms-flex-order: 5;
        order: 5; }
    .medium-order-6 {
        -webkit-order: 6;
        -ms-flex-order: 6;
        order: 6; } }

@media screen and (min-width: 40em) and (min-width: 40em) {
    .medium-expand {
        -webkit-flex: 1 1 0px;
        -ms-flex: 1 1 0px;
        flex: 1 1 0px; } }

.flx-row.medium-unstack .column, .flx-row.medium-unstack .columns {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
@media screen and (min-width: 40em) {
    .flx-row.medium-unstack .column, .flx-row.medium-unstack .columns {
        -webkit-flex: 1 1 0px;
        -ms-flex: 1 1 0px;
        flex: 1 1 0px; } }

@media screen and (min-width: 40em) {
    .medium-collapse > .column, .medium-collapse > .columns {
        padding-left: 0;
        padding-right: 0; }
    .medium-uncollapse > .column, .medium-uncollapse > .columns {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem; } }

@media screen and (min-width: 64em) {
    .large-1 {
        -webkit-flex: 0 0 8.33333%;
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
        max-width: 8.33333%; }
    .large-offset-0 {
        margin-left: 0%; }
    .large-2 {
        -webkit-flex: 0 0 16.66667%;
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
        max-width: 16.66667%; }
    .large-offset-1 {
        margin-left: 8.33333%; }
    .large-3 {
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%; }
    .large-offset-2 {
        margin-left: 16.66667%; }
    .large-4 {
        -webkit-flex: 0 0 33.33333%;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%; }
    .large-offset-3 {
        margin-left: 25%; }
    .large-5 {
        -webkit-flex: 0 0 41.66667%;
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width: 41.66667%; }
    .large-offset-4 {
        margin-left: 33.33333%; }
    .large-6 {
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%; }
    .large-offset-5 {
        margin-left: 41.66667%; }
    .large-7 {
        -webkit-flex: 0 0 58.33333%;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width: 58.33333%; }
    .large-offset-6 {
        margin-left: 50%; }
    .large-8 {
        -webkit-flex: 0 0 66.66667%;
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%; }
    .large-offset-7 {
        margin-left: 58.33333%; }
    .large-9 {
        -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%; }
    .large-offset-8 {
        margin-left: 66.66667%; }
    .large-10 {
        -webkit-flex: 0 0 83.33333%;
        -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
        max-width: 83.33333%; }
    .large-offset-9 {
        margin-left: 75%; }
    .large-11 {
        -webkit-flex: 0 0 91.66667%;
        -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
        max-width: 91.66667%; }
    .large-offset-10 {
        margin-left: 83.33333%; }
    .large-12 {
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%; }
    .large-offset-11 {
        margin-left: 91.66667%; }
    .large-order-1 {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1; }
    .large-order-2 {
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2; }
    .large-order-3 {
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3; }
    .large-order-4 {
        -webkit-order: 4;
        -ms-flex-order: 4;
        order: 4; }
    .large-order-5 {
        -webkit-order: 5;
        -ms-flex-order: 5;
        order: 5; }
    .large-order-6 {
        -webkit-order: 6;
        -ms-flex-order: 6;
        order: 6; } }

@media screen and (min-width: 64em) and (min-width: 64em) {
    .large-expand {
        -webkit-flex: 1 1 0px;
        -ms-flex: 1 1 0px;
        flex: 1 1 0px; } }

.flx-row.large-unstack .column, .flx-row.large-unstack .columns {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
@media screen and (min-width: 64em) {
    .flx-row.large-unstack .column, .flx-row.large-unstack .columns {
        -webkit-flex: 1 1 0px;
        -ms-flex: 1 1 0px;
        flex: 1 1 0px; } }

@media screen and (min-width: 64em) {
    .large-collapse > .column, .large-collapse > .columns {
        padding-left: 0;
        padding-right: 0; }
    .large-uncollapse > .column, .large-uncollapse > .columns {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem; } }

.shrink {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: 100%; }

.flx-row.align-right {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }

.flx-row.align-center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

.flx-row.align-justify {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.flx-row.align-spaced {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }

.flx-row.align-top {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }

.column.align-top, .align-top.columns {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start; }

.flx-row.align-bottom {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }

.column.align-bottom, .align-bottom.columns {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end; }

.column.text-align-right {
    text-align: right;
}

.column.text-align-left {
    text-align: left;
}

.column.no-gutter {
    padding-left: 0;
    padding-right: 0;
}

.flx-row.align-middle {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

.column.align-middle, .align-middle.columns {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center; }

.flx-row.align-stretch {
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }

.column.align-stretch, .align-stretch.columns {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch; }


.flx-row {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
}

@supports (display: flex) {
    .flx-row {
        display: -webkit-flex;
        display: flex;
    }
}

@-moz-document url-prefix() {
    .flx-row {
        display: flex; /* Firefox from 49v doesnt like webkit-box */
    }
}

.column-grow {
    flex-grow: 1;
    flex-basis: 150px;
}

.main-content {
    margin-right: 30px;
    min-height: 400px;
}

.lg-text-align-right {
    text-align: right;
}

.main-content-area .flx-row + .flx-row {
    margin-top: 20px;
}
.text-align-right {
  text-align: right;
}

@media screen and (max-width: 680px) {
    .hidden-xs {
        display: none;
    }

    .column.u-field-state {
        padding-left: 5px;
    }

    .flx-row .flx-row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .main-content {
        margin-right: 0;
        min-height: auto;
    }

    .u-submit-row {
        text-align: center;
        margin: 30px 0;
    }

    .widget-box {
        margin-bottom: 20px;
    }

    .lg-text-align-right {
        text-align: left;
    }

    h1 {
        font-size: 1.8rem;
    }

    .u-list { padding: 0;}

    .u-list__header { display: none;}

    .u-list__line,
    .u-list .state {
        text-align: center;
    }

    .u-list__line .columns {
        margin-bottom: 5px;
    }

    .modal {
        width: 90%;
    }

    .banners_footer.cf {
      margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
  .hidden-md {
      display: none;
  }


  .u-list__line,
  .u-list .state {
      text-align: center;
  }

  .u-list__line .columns {
      margin-bottom: 5px;
  }

  .banners_footer.cf {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.span_2_of_2 {
    width: 100%;
}

.span_1_of_2 {
    width: 49.2%;
}
