/*Variables*/
$main-color: #005eab;
$light-grey-color: #e1e1e1;


a.account-type:link,
a.account-type:visited,
span.account-type {
	background: #7fadd4;
	color: #fff;
	display: block;
	float: left;
	height: 28px;
	line-height: 28px;
	margin-right: 2px;
	padding: 0 22px;
	text-decoration: none;
	font-size: 0.929em;
	font-style: normal;

	background: #fff;
	color: #b2b2b2;
	padding-left: 0;
}

a.account-type:hover,
a.account-type.selected,
span.account-type:hover,
span.account-type.selected {
	background: #005ca9;
	font-size: 0.929em;
	font-style: normal;

	background: #fff;
	color: #0059ab;

}

img {max-width: 100%;}

.icon {
  display: inline-block;
  background-image: url('../css/sprites/sprite-uniqa.png');
}

.abs-icn {
	position: absolute;
	top: 0;
	left: 0;
}

.my-uniqa-title {
  margin-top: 20px;
  padding: 0 15px;
}

.department_wrap {
  color: #fff;
}

/* Personal details widget */
.my-uniqa-personal-details {
  h4 {
    margin-bottom: 15px;
  }

  & [class ^="icn-"] {
    float: left;
    margin: 0 10px 0 0;
  }

  &__info {
    margin-bottom: 15px;
    overflow: hidden;
  }

  &__bottom {
    margin-top: 50px;
  }

  a.my-uniqa-personal-details__link {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;

    &:hover {
      color: #fff;
      text-decoration: underline;
    }

    &:before {
      display: block;
      float: left;
      content: '›';
      font-size: 18px;
      line-height: 16px;
      margin-right: 5px;
      font-style: normal;
    }
  }
}

.address-text {
  float: left;
  width: 75%;
}

.my-agent {
  color: #fff;

  &-name {
    font-style: italic;
    margin-bottom: 10px;
    font-size: 18px;
  }

  &-position {
    margin-bottom: 40px;
  }

  &-title {
    overflow: hidden;
    margin-bottom: 30px;

    &__agent {
      display: table-cell;
      width: 55%;
      height: 60px;
      vertical-align: top;
			text-align: left;
			font-size: 20px;
			padding-left: 10px;
    }

    &__agent-img {
      display: table-cell;
      width: 45%;
      height: 100px;
      overflow: hidden;
      position: relative;

        & img {
          right: 0 !important;
          position: static !important;
        }
    }
  }
}

/*Personal header*/
.notification-counter {
  position: absolute;
  top: -2px;
  right: -2px;
  font-size: 9px;
  padding: 0 4px;
  line-height: 12px;
  color: #fff;
}

.personal-header {
  position: absolute;
	top: 18px;
	right: 140px;

  &__item {
    float: left;
    margin-right: 15px;
    line-height: 12px;
    position: relative;
  }

  & [class *="icon-"] {
    margin-right: 5px;
    float: left;
  }
  & [class *="icon-envelop"] {
      margin-top: 2px;
      margin-right: 5px;
      float: left;
    }

  & a {
    text-decoration: none;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.register-form select {
  min-width: 100%;
}

/*sections*/
.section-descr {
  font-size: .9rem;
  margin: 10px 15px 40px;
  color: #808080;
}

.contact-box ul.tabs {
  height: 42px;
  overflow: hidden;
}

.row-collapse .department_wrap {
  border: 10px solid #fff;
}

.success-color {
  color: #04b675;
}

.error-color {
  color: #f00;
}

.top-gutter-header {
	margin-top: 40px;
}

/*New login deck*/
.login-deck {
  background: url(../images/registration_bg.jpg) no-repeat 0 0;
  background-size: cover;
  min-height: calc(100vh - 82px);
  position: relative;
  margin: -25px -10px;
	height: 100%;

  &__link:link {
    color: #005ca9;
    display: block;

    & + & {
      margin-top: 15px;
    }
    &:hover {
      color: #03355f;
    }
  }

  &__modal {
    border-radius: 18px;
    background-color: #fff;
    width: 550px;
    padding: 50px 50px 30px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);

    & h1 {
      padding: 0;
      text-align: left;
    }

    & .u-input {
      height: 52px;
    }
  }
}

@media screen and (max-height: 600px) {
	.login-deck {
    padding: 50px 30px;
		background: none;
  }
	.login-deck__modal {
    border-radius: 0;
    position: static;
    width: 100%;
    transform: none;
    padding: 30px 10px 20px;
  }
}

@media screen and (max-width: 680px) {
	.login-deck {
    padding: 50px 30px;
		background: none;
  }

  .login-deck__modal {
    border-radius: 0;
    position: static;
    width: 100%;
    transform: none;
    padding: 30px 10px 20px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
	.form_block_down {
		right: 10px;
	}

	header nav ul.right-menu a.first,
	span.first {
		margin-left: 65px;
	}

	a.menu_green_button {
		max-width: 94px;
		line-height: 20px !important;
		padding-top: 5px !important;
		margin-left: 0 !important;
	}
}
