<div class="document-view">
    <div class="document-view__header">ДТП автомобіля BMW X6</div>
    <div class="flx-row">
        <div class="columns small-12 medium-3 large-3">
            <div class="document-view__sml-label">Номер страхової справи</div>
            <div class="document-view__big-label">WP 4567 765 6544</div>
        </div>
        <div class="columns small-12 medium-2 large-2">
            <div class="document-view__sml-label">Дата страхового випадку</div>
            <div class="document-view__big-label">27.04.17</div>
        </div>
        <div class="columns small-12 medium-2 large-2">
            <div class="document-view__sml-label">Дата реєстрації події</div>
            <div class="document-view__big-label">27.04.17</div>
        </div>
        <div class="columns small-12 medium-2 large-2">
            <div class="document-view__sml-label">Номер договору страхуванняї</div>
            <div class="document-view__big-label"><a href="my-claims-item.html">13456387987</a></div>
        </div>
        <div class="columns small-12 medium-3 large-3">
            <div class="document-view__sml-label">Поточний статус справи</div>
            <div class="document-view__big-label docs-state">На стадії збору документів</div>
        </div>
    </div>
    <div class="document-view__comments">
        <div class="document-view__comments-title">Подальші дії:</div>
        <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.</p>
    </div>
</div>

<div class="document-view toggle off on">
<div class="document-view__header">Вам необхідно надати наступні документи</div>
<div class="document-view__content">
    <ul class="document-view__list">
        <li class="document-view__list--item">
          <div class="flx-row">
            <div class="columns small-12 medium-5">
              <div class="document-view__list--header">
                Паспортні данні, 1-4 страниці.
                <div class="document-view__list--status status-green">Документ прийнятий та перевiрений</div>
              </div>
            </div>
            <div class="columns small-12 medium-5">
              <div class="documents-previews-list">
                <img src="images/doc-pass-test.jpg" class="document-view__list--img">
                <img src="images/doc-pass-test.jpg" class="document-view__list--img">
                <img src="images/doc-pass-test.jpg" class="document-view__list--img">
                <img src="images/doc-pass-test.jpg" class="document-view__list--img">
                <img src="images/doc-pass-test.jpg" class="document-view__list--img">
              </div>
            </div>
            <div class="columns small-12 medium-2 text-align-right">
              <button type="button" disabled class="u-btn small secondary" onclick="showMyModal('modal-upload')">надiслати</button>
            </div>
          </div>
        </li>
        <li class="document-view__list--item">
          <div class="flx-row">
            <div class="columns small-12 medium-5">
              <div class="document-view__list--header">
                Ідентифікаційний код
                <div class="document-view__list--status status-green">Документ прийнятий та перевiрений</div>
              </div>
            </div>
            <div class="columns small-12 medium-5">
              <img src="images/doc-inn-test.jpg" class="document-view__list--img">
            </div>
            <div class="columns small-12 medium-2 text-align-right">
              <button type="button" disabled class="u-btn small secondary" onclick="showMyModal('modal-upload')">надiслати</button>
            </div>
          </div>
        </li>
        <li class="document-view__list--item">
          <div class="flx-row">
            <div class="columns small-12 medium-5">
              <div class="document-view__list--header">
                Рішення суду
                <div class="document-view__list--status status-grey">Підготовка документу на боці компанії</div>
              </div>
            </div>
            <div class="columns small-12 medium-5"></div>
            <div class="columns small-12 medium-2 text-align-right">
              <button type="button" disabled class="u-btn small secondary" onclick="showMyModal('modal-upload')">надiслати</button>
            </div>
          </div>
        </li>
        <li class="document-view__list--item">
          <div class="flx-row">
            <div class="columns small-12 medium-5">
              <div class="document-view__list--header">
                Технічний паспорт на автомобіль
                <div class="document-view__list--status status-red">Документ вiдсутнiй</div>
              </div>
            </div>
            <div class="columns small-12 medium-5"></div>
            <div class="columns small-12 medium-2 text-align-right">
              <button type="button" class="u-btn small secondary" onclick="showMyModal('modal-upload')">надiслати</button>
            </div>
          </div>
        </li>
        <li class="document-view__list--item">
          <div class="flx-row">
            <div class="columns small-12 medium-5">
              <div class="document-view__list--header">
                Висновок експерта
                <div class="document-view__list--status status-red">Документ вiдсутнiй</div>
              </div>
            </div>
            <div class="columns small-12 medium-5"></div>
            <div class="columns small-12 medium-2 text-align-right">
              <button type="button" class="u-btn small secondary" onclick="showMyModal('modal-upload')">надiслати</button>
            </div>
          </div>
        </li>
        <li class="document-view__list--item">
          <div class="flx-row">
            <div class="columns small-12 medium-5">
              <div class="document-view__list--header">
                Заява про виплату страхового вiдшкодування
                <div class="document-view__list--status status-red">Документ вiдсутнiй</div>
              </div>
            </div>
            <div class="columns small-12 medium-5"></div>
            <div class="columns small-12 medium-2 text-align-right">
              <button type="button" class="u-btn small secondary" onclick="showMyModal('modal-upload')">надiслати</button>
            </div>
          </div>
        </li>
        <li class="document-view__list--item">
          <div class="flx-row">
            <div class="columns small-12 medium-5">
              <div class="document-view__list--header">
                Заява про виплату страхового вiдшкодування<br><span class="line-two">(Банкiвськi реквiзити додаток № 1)</stan>
                <div class="document-view__list--status status-red">Документ вiдсутнiй</div>
              </div>
            </div>
            <div class="columns small-12 medium-5"></div>
            <div class="columns small-12 medium-2 text-align-right">
              <button type="button" class="u-btn small secondary" onclick="showMyModal('modal-upload')">надiслати</button>
            </div>
          </div>
        </li>
    </ul>
</div>
</div>
<div class="u-submit-row">
<div class="flx-row">
    <div class="columns small-12 medium-8 ask-questions">
      <a href="my-claims.html" class="u-btn secondary">Назад</a>
      Виникли питання? Зверніться до  Вашого менеджера з врегулювання збитків.</div>
    <div class="columns small-12 medium-4">
        <button type="submit" class="u-btn secondary" onclick="showMyModal('ask-manager-modal')">Звернутися</button>
    </div>
</div>
</div>
