<div class="u-list">
    <div class="flx-row u-list__header">
        <div class="columns small-12 column-grow">Назва</div>
        <div class="columns small-12 medium-1 large-2">Номер справи</div>
        <div class="columns small-12 medium-1 large-1 date">Дата випадку</div>
        <div class="columns small-12 medium-1 large-1 date">Дата реєстрації</div>
        <div class="columns small-12 medium-2 large-3 state">Поточний статус справи</div>
    </div>

    <a href="my-insurances-item.html" class="flx-row u-list__line">
        <div class="columns small-12 medium-12 column-grow">ДТП автомобіля BMW X6</div>
        <div class="columns small-12 medium-12 large-2">WP 4567 765 6544</div>
        <div class="columns small-6 medium-12 large-1 date">27.04.17</div>
        <div class="columns small-6 medium-12 large-1 date">27.04.17</div>
        <div class="columns small-12 medium-12 large-3 state docs-state">На стадії збору документів</div>
    </a>
    <a href="my-insurances-item.html" class="flx-row u-list__line">
        <div class="columns small-12 column-grow">ДТП автомобіля BMW X6</div>
        <div class="columns small-12 large-2">WP 4567 765 6544</div>
        <div class="columns small-6 large-1 date">27.04.17</div>
        <div class="columns small-6 large-1 date">27.04.17</div>
        <div class="columns small-12 large-3 state rejected-state">Відмовлено</div>
    </a>
    <a href="my-insurances-item.html" class="flx-row u-list__line">
        <div class="columns small-12 column-grow">ДТП автомобіля BMW X6</div>
        <div class="columns small-12 large-2">WP 4567 765 6544</div>
        <div class="columns small-6 large-1 date">27.04.17</div>
        <div class="columns small-6 large-1 date">27.04.17</div>
        <div class="columns small-12 large-3 state paid-state">Сплачено</div>
    </a>
</div>
