<div class="u-list">
    <div class="flx-row u-list__header">
        <div class="columns small-12 large-2">Обект договору</div>
        <div class="columns small-12 large-2">Вид страхування</div>
        <div class="columns small-12 large-2">Номер справи</div>
        <div class="columns small-12 large-1 date">Дата початку</div>
        <div class="columns small-12 large-1 date">Дата закінчення</div>
        <div class="columns small-12 large-2 state">Статус договору</div>
    </div>

    <a href="my-claims-item.html" class="flx-row u-list__line">
        <div class="columns small-12 large-2">BMW X6</div>
        <div class="columns small-12 large-2">КАСКО</div>
        <div class="columns small-12 large-2">WP 4567 765 6544</div>
        <div class="columns small-6 large-1 date">27.04.17</div>
        <div class="columns small-6 large-1 date">27.04.17</div>
        <div class="columns small-12 large-2 state rejected-state">Неактивний</div>
    </a>
    <a href="my-claims-item.html" class="flx-row u-list__line">
        <div class="columns small-12 large-2">BMW X6</div>
        <div class="columns small-12 large-2">КАСКО</div>
        <div class="columns small-12 large-2">WP 4567 765 6544</div>
        <div class="columns small-6 large-1 date">27.04.17</div>
        <div class="columns small-6 large-1 date">27.04.17</div>
        <div class="columns small-12 large-2 state paid-state">Активний</div>
    </a>
</div>

<div class="u-submit-row">
    <button type="submit" class="u-btn primary">Придбати договiр</button>
</div>
