<div class="document-view">
    <div class="document-view__header">Автомобіль BMW X6 - Загальний платіж по договору - 3900,60</div>
    <div class="flx-row">
        <div class="columns small-12 medium-2 large-2">
            <div class="document-view__sml-label">Вид страхування</div>
            <div class="document-view__big-label">КАСКО</div>
        </div>
        <div class="columns small-12 medium-2 large-2">
            <div class="document-view__sml-label">Дата початку</div>
            <div class="document-view__big-label">27.04.17</div>
        </div>
        <div class="columns small-12 medium-2 large-2">
            <div class="document-view__sml-label">Дата закінчення</div>
            <div class="document-view__big-label">27.04.17</div>
        </div>
        <div class="columns small-12 medium-2 large-2">
            <div class="document-view__sml-label">Номер договору</div>
            <div class="document-view__big-label">13456387987</div>
        </div>
        <div class="columns small-12 medium-2 large-2">
            <div class="document-view__sml-label">Сума договору</div>
            <div class="document-view__big-label">12300,45</div>
        </div>
        <div class="columns small-12 medium-2 large-2">
            <div class="document-view__sml-label">Статус договору</div>
            <div class="document-view__big-label paid-state">Активний</div>
        </div>
    </div>
    <div class="document-view__comments">
        <div class="document-view__comments-title">Особливі умови страхування:</div>
        <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.</p>
    </div>
</div>

  <div class="document-view__content btns-list ">
      <button class="u-btn secondary">Копії договору</button>
      <a href="my-calendar.html" class="u-btn secondary">Платіжний календар</a>
      <a href="my-insurances-item.html" class="u-btn secondary">Страхові випадки</a>
      <button class="u-btn secondary">Пролонгувати договір</button>
  </div>

<div class="u-submit-row">
    <a href="my-claims.html" class="u-btn secondary back-btn">Назад</a>
</div>
