<div class="u-list">
    <div class="flx-row u-list__header">
        <div class="columns small-12 medium-2 large-2 is--active is--up">Обект договору</div>
        <div class="columns small-12 medium-2 large-2 is--active is--down">Вид страхування</div>
        <div class="columns small-12 medium-2 large-2">Номер справи</div>
        <div class="columns small-12 medium-1 large-1 date">Дата початку</div>
        <div class="columns small-12 medium-1 large-1 date">Дата закінчення</div>
        <div class="columns small-12 medium-2 large-2 state">Статус договору</div>
    </div>

    <a href="my-claims-item.html" class="flx-row u-list__line">
        <div class="columns small-12 medium-2 large-2">BMW X6</div>
        <div class="columns small-12 medium-2 large-2">КАСКО</div>
        <div class="columns small-12 medium-2 large-2">WP 4567 765 6544</div>
        <div class="columns small-6 medium-1 large-1 date">27.04.17</div>
        <div class="columns small-6 medium-1 large-1 date">27.04.17</div>
        <div class="columns small-12 medium-2 large-2 state rejected-state">Неактивний</div>
    </a>
    <a href="my-claims-item.html" class="flx-row u-list__line">
        <div class="columns small-12 medium-2 large-2">BMW X6</div>
        <div class="columns small-12 medium-2 large-2">КАСКО</div>
        <div class="columns small-12 medium-2 large-2">WP 4567 765 6544</div>
        <div class="columns small-6 medium-1 large-1 date">27.04.17</div>
        <div class="columns small-6 medium-1 large-1 date">27.04.17</div>
        <div class="columns small-12 medium-2 large-2 state paid-state">Активний</div>
    </a>
</div>

<div class="u-submit-row">
    <div class="btn-dropdown-container">
      <button type="submit" class="u-btn primary toggle-btn-dd">Придбати договiр</button>
      <div class="btn-dropdown">
        <ul>
          <li><a class="arrow blue" href="http://www.uniqa.ua"><i class="size16"></i> Туристичне страхування</a></li>
          <li><a class="arrow blue" href="http://www.uniqa.ua"><i class="size16"></i> Атоцивілка (ОСАГО)</a></li>
          <li><a class="arrow blue" href="http://www.uniqa.ua"><i class="size16"></i> Добровільна автоцивілка</a></li>
          <li><a class="arrow blue" href="http://www.uniqa.ua"><i class="size16"></i> Страхування квартири</a></li>
          <li><a class="arrow blue" href="http://www.uniqa.ua"><i class="size16"></i> Відповідальність власників житла</a></li>
        </ul>
      </div>
    </div>
</div>
