<div class="flx-row">
  <div class="columns small-12 medium-12 large-2">
      <div class="flx-row">
          <div class="columns small-6 medium-6 large-12 inbox-folder is-active">
              Вхідні <span class="inbox-counter">2</span>
          </div>
          <div class="columns small-6 medium-6 large-12 inbox-folder">
              Вихідні <span class="inbox-counter">2</span>
          </div>
      </div>
  </div>
  <div class="columns small-12 medium-12 large-10 inbox-list no-gutter">

    <div class="inbox-list__line is-new">
      <div class="flx-row inbox--open">
          <div class="columns small-8 medium-10"><em class="icon icon-green-bell"></em>Вітання - З новім роком !!!</div>
          <div class="columns small-4 medium-2 text-align-right">12.12.12<br>12:45</div>
      </div>
      <div class="inbox-list__content">
        <div class="text-align-right inbox-list__options">
          <button class="u-btn small delete">Видалити</button>
          <button class="u-btn small secondary">Закрити</button>
        </div>
        <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum

        <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.
      </div>
    </div>

    <div class="inbox-list__line">
      <div class="flx-row inbox--open">
          <div class="columns small-8 medium-10"><em class="icon icon-important"></em>Важлива інформація</div>
          <div class="columns small-4 medium-2 text-align-right">11.07.11<br>12:45</div>
      </div>
      <div class="inbox-list__content">
        <div class="text-align-right inbox-list__options">
          <button class="u-btn small delete">Видалити</button>
          <button class="u-btn small secondary">Закрити</button>
        </div>
        <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum

        <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.
      </div>
    </div>

    <div class="inbox-list__line is-new">
      <div class="flx-row inbox--open">
          <div class="columns small-8 medium-10"><em class="icon icon-email"></em>Вітання - З новім роком !!!</div>
          <div class="columns small-4 medium-2 text-align-right">03.12.12 <br>12:45</div>
      </div>
      <div class="inbox-list__content">
        <div class="text-align-right inbox-list__options">
          <button class="u-btn small delete">Видалити</button>
          <button class="u-btn small secondary">Закрити</button>
        </div>
        <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum

        <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.
      </div>
    </div>

    <div class="inbox-list__line">
      <div class="flx-row inbox--open">
          <div class="columns small-8 medium-10"><em class="icon icon-email"></em>Важлива інформація</div>
          <div class="columns small-4 medium-2 text-align-right">02.11.16<br>12:45</div>
      </div>
      <div class="inbox-list__content">
        <div class="text-align-right inbox-list__options">
          <button class="u-btn small delete">Видалити</button>
          <button class="u-btn small secondary">Закрити</button>
        </div>
        <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum

        <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.
      </div>
    </div>

    <div class="inbox-list__line">
      <div class="flx-row inbox--open">
          <div class="columns small-8 medium-10"><em class="icon icon-email"></em>Вітання - З новім роком !!!</div>
          <div class="columns small-4 medium-2 text-align-right">29.01.16<br>12:45</div>
      </div>
      <div class="inbox-list__content">
        <div class="text-align-right inbox-list__options">
          <button class="u-btn small delete">Видалити</button>
          <button class="u-btn small secondary">Закрити</button>
        </div>
        <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum

        <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.
      </div>
    </div>

  </div>
</div>
