
<div class="modal ask-manager-modal" style="display: none">
    <div class="modal__close modal-close">&times;</div>
    <div class="modal__header">Звернення</div>
    <div class="modal__content">
        <form action="">
            <div class="u-fields flx-row">
                <label for="messege-reason" class="column small-12 u-label u-label-line">
                    Текст звернення
                </label>
                <div class="column small-12">
                    <textarea class="u-textarea" name="messege-reason" id="messege-reason"></textarea>
                </div>
            </div>
            <div class="u-fields flx-row">
                <label class="column small-12 u-label u-label-line" for="messege-tel">
                    Контактний телефон
                </label>
                <div class="column small-12 large-6">
                    <input value="" type="text" class="u-input" name="messege-tel" id="messege-tel">
                </div>
            </div>
            <div class="u-fields flx-row">
                <label class="column small-12 u-label u-label-line" for="email-tel">
                    Email
                </label>
                <div class="column small-12 large-6">
                    <input value="" type="email" class="u-input" name="email-tel" id="email-tel">
                </div>
            </div>
        </form>
    </div>
    <div class="modal__footer">
        <button class="u-btn secondary modal-close">Вiдмiнити</button>
        <button class="u-btn primary modal-close">Вiдправити</button>
    </div>
</div>
<div class="modal-bacckdrop " style="display: none"></div>
