<div class="column small-12 medium-4 large-12 contact-box department_wrap">
    <div id="customer-content" class="content mainColor50" style="display: block;">
        <h3>Звертайтесь до нас</h3>

        <p>Цілодобовий контакт - центр</p>
        <span><p class="fa fa-phone ico-ph" aria-hidden="true"></p><a class="tel_button" href="tel: 0 800 600 600">0 800 600 600</a></span>
        <p class="smallphone">безкоштовно з будь-яких телефонів в Україні</p>
        <span><p class="fa fa-mobile ico-mo" aria-hidden="true"></p><a class="tel_button" href="tel: 2202">2202</a></span>
        <p class="smallphone">безкоштовно для абонентів усіх національних мобільних операторів. Лише для повнолітніх.</p>

        <div class="two_button_wrap cf">
            <a class="arrow white" href="mailto:office@uniqa.ua">
                <i class="size16"></i>
                office@uniqa.ua
            </a>
            <a class="branch-btn go_location" href="/ua/contacts/contact/">
                <i class="size35"></i>
                Офіси УНІКА
            </a>
        </div>
    </div>
    <!---------------------->


    <div id="branch-content" class="content mainColor50" style="display: none;">
        <h3 style="overflow:hidden;" title="Cea mai apropiata sucursala">
            Найближчий офіс
        </h3>

        <p>Печерське відділення в м. Київ (1 км)</p>
        <p>01033, Київ, вулиця Паньківська, буд. 27/78, оф. 80</p>
        <p>Тел.: +38 044 225 60 13, +38 067 702 28 03</p>		<p>E-mail: <a href="mailto:%7a%68%61%6e%6e%61.%63%68%65%72%65%64%6e%69%6b%6f%76%61@%72.%75%6e%69%71%61.%75%61">zhanna.cherednikova@r.uniqa.ua</a></p>
        <div class="two_button_wrap cf">
            <a class="arrow white" href="/ua/contacts/sales_offices/">
                <i class="size16"></i>
                Детальніше
            </a>

        </div>
    </div>
    <!--------------------->


    <div id="advisor-content" class="content visible mainColor50 w_call normal-height" style="display: none;">
        <h3>Замовте консультацію продавця</h3>
        <p>Ми зв’яжемось з Вами найближчим часом.</p>
        <p>Будь ласка, заповніть поля нижче</p>
        <div class="first_step">
            <form id="lead_form" name="lead" method="post" action="https://uniqa.ua/ua/buy/">
                <p><input type="text" name="lead[name]" placeholder="ПІБ" value="" class="required" title=""></p>
                <p><input type="text" name="lead[phone]" placeholder="Номер телефону" value="" class="required phone-mask" title=""></p>
                <p><input type="text" name="lead[email]" placeholder="E-mail" value="" class="required" title=""></p>

                <div class="normal-height">
                    <a class="button opaque call-btn mainColor active button_send_request" data-submitform="lead">
                        <i class="size35"></i>
                        Відправити заявку
                    </a>
                </div>
            </form>
        </div>
    </div>

    <ul class="tabs tabs3 first_step cf">
        <li><!--noindex-->
            <a id="customer" rel="nofollow" href="javascript:void(0)" class="selected">
                <i></i>
                <span>Контакт центр</span>
            </a><!--/noindex-->
        </li>
        <li><!--noindex-->
            <a id="branch" rel="nofollow" href="javascript:void(0)">
                <i></i>
                <span>Офіс поруч</span>
            </a><!--/noindex-->
        </li>
        <li><!--noindex-->
            <a id="advisor" rel="nofollow" href="javascript:void(0)">
                <i></i>
                <span>Подати заявку</span>
            </a><!--/noindex-->
        </li>
    </ul>

</div>
