<footer class="greyGradientRepeat">

<div class="section greyB">
    <div class="inner-section group copyright">
        <div class="box span_1_of_6 cf languages">
            <label>Язык:</label>
            <div class="languages">
                <a class="lang-bar" href="https://uniqa.ua/ua/">UA</a>
                <span class="lang-bar  selected">RU</span>
            </div>
        </div>

        <div class="box span_4_of_6 copyright">
            © 2017. Все права защищены
        </div>

        <div class="box span_1_of_6 footer_left_block">
            <div class="social_icons" style="float: right;">
                <!--noindex--><a class="new-social" target="_blank" href="https://www.facebook.com/uniqa.official?fref=ts" rel="nofollow"><i class="fa fa-facebook" aria-hidden="true"></i></a><!--/noindex-->
                <!--noindex> <a class="new-social" target="_blank" href="http://vk.com/uniqaua" rel="nofollow"><i class="fa fa-vk" aria-hidden="true"></i></a></noindex-->
                <!--noindex--><a class="new-social" target="_blank" href="https://www.youtube.com/channel/UCDE5AkKzptUUpSaQCqRo5Hg" rel="nofollow"><i class="fa fa-youtube" aria-hidden="true"></i></a><!--/noindex-->
                <a class="new-social" target="_blank" href="skype:uniqa-ukraine?call"><i class="fa fa-skype" aria-hidden="true"></i></a>
            </div>
            <div class="banners_footer cf" style="float: right;">

                <noindex><a class="banner_button portmone" href="https://www.portmone.com.ua/r3/ru/uniqa" target="_blank" rel="nofollow"></a></noindex>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</footer>

<div id="scroll-box" class="scroll_box">
    <a class="no-decoration " href="https://uniqa.ua/ua/# ">
        <p class="scroll-text ">&lt;&lt; Вниз</p>
    </a>
    <div class="hidden_block">
        <p class="top ">Вгору &gt;&gt;</p>
        <p class="down ">&lt;&lt; Вниз</p>
    </div>
</div>
