<ul class="step-slider">
    <li >
        <div class="step-slider__number">1</div>
        <div class="step-slider__text hidden-xs">Зареєстровано</div>
    </li>
    <li class="is-active">
        <div class="step-slider__number">2</div>
        <div class="step-slider__text hidden-xs">Збір документів</div>
    </li>
    <li >
        <div class="step-slider__number">3</div>
        <div class="step-slider__text hidden-xs">Прийняття рішення</div>
    </li>
    <li>
        <div class="step-slider__number">4</div>
        <div class="step-slider__text hidden-xs">Рішення прийнято</div>
    </li>
    <li>
        <div class="step-slider__number">5</div>
        <div class="step-slider__text hidden-xs">Врегульовано</div>
    </li>
</ul>